/* reset align */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'�뗭�',Dotum,AppleGothic,sans-serif;font-size:1em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 

body {
	background-color: #dbd8d8;
/*
	background-image: url('/images/welcomePage_background.jpg');
	background-size: inherit;
*/
	font-family: 'Lato','Nanum Gothic' , sans-serif;
}

nav {
	position : fixed;
	top: 0;
	width: 100%;
	background-color: #59626d;
	height: 40px;
	box-shadow: 0px 1px 7px #4e5762;
	z-index: 3;
}

#gotoHome {
	float : left;
	width: 120px;
	height : 40px;
	margin : 0 0 0 0;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	border-right: 1px solid #dad7f4;
	background-color: #616a76;
	color : #eeeeee;
	cursor: pointer;
}

#loginMessage {
	width : 300px;
	height : 50px;
	margin : 100px auto 0px auto;
	text-align: center;
	font-family: 'Lato', 'Nanum Gothic' , sans-serif;
	font-weight: 100;
	font-size : 50px;
	color : #59626d;
}

#loginSection {
	width : 340px;
	height: 200px;
	margin: 40px auto 0px auto;
	background-color: #eeeeee;
	border-radius: 4px;
	box-shadow: 1px 3px 7px #4e5762;	
}

#loginForm {
	position: relative;
	top : 40px;
	width : 300px;
	height : 100px;
	margin : 0 auto;
	text-align: center;
}

.input {
	width: 200px;
	height: 24px;
	border: 1px solid #a5abb2;
	border-radius: 2px;
}

#loginButton {
	width : 60px;
	height : 30px;
	border-radius: 2px;
	line-height: 34px;
	text-align: center;
	margin: 10px auto 0px auto;
	background-color: #59626d;
	color: #e5ecf3;
	cursor : pointer;
	font-size: 14px;
	border: 0;
}

#registerButton {
	width: 110px;
	height: 40px;
	border-radius: 2px;
	line-height: 40px;
	margin : 160px auto 0 auto;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	z-index: 1;
	background-color: #59626d;
	color: #e5ecf3;
	box-shadow: 1px 1px 3px #4e5762;
}